* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Pixel Emulator';
  src: url("../fonts/Pixel Emulator.otf") format("opentype");
}

body {
  font-family: 'Pixel Emulator', sans-serif;
  background-color: #022;
  color: #FFF;
}

a {
  color: #FFF;
}

a:hover {
  color: #DDD;
}

main {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#game {
  border: 10px solid #000;
  background-color: #000;
  margin: 50px auto;
  width: 520px;
  height: 400px;
  box-shadow: 0px -50px 400px #000,
    0px 50px 300px #FFF;
}

#screen {
  border-radius: 15px;
  border: 10px solid #333;
  position: relative;
  height: 100%;
}

#duck {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #FFF;
}

#dog {
  position: absolute;
}

#stats {
  background-color: #000;
  border-width: 1px;
  border-style: solid;
  color: #FFF;
}

#player-stats {
  border-top: 1px solid #FFF;
  color: #888;
}

#player-stats > div {
  display: inline-block;
  width: 48%;
}

#player-stats .current {
  color: #FFF;
}

#player-stats .lost {
  color: #900;
}

@media (max-width: 480px) {
  main {
    width: 100%;
  }
}
