* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Pixel Emulator';
  src: url("../fonts/Pixel Emulator.otf") format("opentype");
}

/* Base styling */
body {
  font-family: 'Pixel Emulator', sans-serif;
  background-color: #022;
  color: #FFF;
}

a {
  color: #FFF;
}

a:hover {
  color: #888;
}

main {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

button {
  background-color: #000;
  color: #FFF;
  border: 1px solid #888;
  padding: 5px 20px;
  font-family: 'Pixel Emulator', sans-serif;
}

/* Game container and screen */
#game {
  border-radius: 5px;
  border: 20px solid #000;
  background-color: #000;
  margin: 25px auto;
  box-shadow: 0px 50px 300px #FFF,
    0px -50px 400px #000;
}

#screen {
  border-radius: 15px;
  border: 5px solid #333;
  position: relative;
  padding-bottom: 50%;
  background-image: url('../images/background.png');
  background-size: cover;
  background-position: center;
  cursor: url('../images/cursor.png') 25 25, auto;
}

/* Alert modal */
#alert {
  background-color: #000;
  color: #FFF;
  padding: 10px;
  border: 1px solid #FFF;
  position: absolute;
  top: 25%;
  width: 70%;
  left: 15%;
}

/* Remove modal when empty */
#alert:empty {
  padding: 0px;
  border: none;
}

/* Spritesheet */
.sprite {
  background-image: url('../images/duck-hunt-sprites.png');
}

/* Duck */
#duck {
  position: absolute;
  width: 72px;
  height: 72px;
  animation-timing-function: steps(1);
  animation-duration: 1s;
  animation-iteration-count: infinite;
  background-position: -5px -230px;
}

#duck.horizontal {
  animation-name: duck-horizontal;
  background-position: -5px -230px;
}

#duck.vertical {
  animation-name: duck-vertical;
  background-position: -5px -390px;
}

#duck.shot {
  animation-name: duck-shot;
  background-position: -78px -470px;
  animation-iteration-count: 1;
}

/* Game details */
#stats {
  background-color: #000;
  border-width: 1px;
  border-style: solid;
  color: #FFF;
}

#game-stats {
  text-align: left;
  padding: 10px 20px;
}

/* Round details */
#round-details > div {
  display: inline-block;
  width: 49%;
}

.ammo,
.target {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0px 2px;
}

.ammo {
  background-position: 0px -558px;
}

.target {
  background-position: -53px -558px;
}

.target.hit {
  background-position: -26px -558px;
}

.target.current {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(1, start);
  animation-iteration-count: infinite;
}

/* Player information */
#player-stats {
  border-top: 1px solid #FFF;
  color: #888;
}

#player-stats > div {
  display: inline-block;
  width: 48%;
}

#player-stats .current {
  color: #FFF;
}

#player-stats .lost {
  color: #900;
}

.player input {
  background-color: transparent;
  color: inherit;
  font-family: 'Pixel Emulator', sans-serif;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #FFF;
}

/* Dog */
#dog {
  position: absolute;
}

/* Styling for smaller screens */
@media (max-width: 520px) {
  main {
    width: 100%;
  }

  #game {
    border: 5px solid #000;
  }

  #player-stats input {
    width: 100%;
  }
}

/* Animations */
/* Play horizontal flying animation */
@keyframes duck-horizontal {
  0% {
    background-position: 0px -230px;
  }

  33% {
    background-position: -80px -230px;
  }

  66% {
    background-position: -162px -230px;
  }
}

/* Play vertical flying animation */
@keyframes duck-vertical {
  0% {
    background-position: 0px -390px;
  }

  33% {
    background-position: -80px -390px;
  }

  66% {
    background-position: -162px -390px;
  }
}

/* Play duck hit animation */
@keyframes duck-shot {
  0% {
    background-position: -5px -470px;
  }

  5% {
    background-position: -78px -470px;
  }
}

/* Blink animation */
@keyframes blink {
  from {
    background-size: 0, 0;
  }

  to {
    background-size: auto;
  }
}
